@font-face {
    font-family: 'league-spartan';
    src: url('../static/fonts/LeagueSpartan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
image{

}
.comment{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 0.3em;
    background-color: #efefef;
    background-image: linear-gradient(to top right, #2e2e2e, #575757);
    transition: 0.4s;
    box-shadow: 0 0 3px #0000008a;
    padding: 5px;
}
.comment-form>input[type=text]{
    width: 100%;
    overflow: auto;
}
button, .button-esque{
    color: black;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    border: none;
    font-weight: 600;
    text-decoration: none;
    transition: background-color 0.1s;
    box-shadow: 0 0 3px #0000008a;
    background-image: linear-gradient(to bottom left, #d4d4d4, #707070);
}
button:hover, .button-esque:hover{
    color: #cbcbcb;
    background-color: #444444;
    cursor: pointer;
}
.button-esque.selected{
    background-image: linear-gradient(to top right, #2e2e2e, #575757);
    color: white;
}
table{
    width: 100%;
    border: 2px solid black;
    border-radius: .3em;
    border-collapse: separate;
    border-spacing: 0;
}
thead th {
    line-height: 1.5;
}
th,
td {
    padding: 5px;
    border: 1px solid black;
}
tbody tr:nth-child(1) {
    background-image: linear-gradient(to top right, #6c6c6c, #a1a1a1);
    color: #000000;
}
tbody tr {
    background-image: linear-gradient(to top right, #2e2e2e, #575757);
    color: #afafaf;
}
a[href]{
    color: white;
}

body{
    background-image: linear-gradient(to bottom left, #939393, #353535);
    background-repeat: round;
    background-size: auto;
    min-height: 100vh;
}

input[type=submit]{
    color: #22626e;
    background-image: linear-gradient(to bottom left, #b6f7fe, #5cb9d3);
    padding: 0.5em 1em;
    border-radius: 0.3em;
    border: none;
    font-weight: 600;
    text-decoration: none;
    transition: background-color 0.1s;

    box-shadow: 0 0 3px #0000008a;
}
input[type=submit]:hover{
    color: #459bab;
    background-color: #144551;
    cursor: pointer;
}
input[type=text],
input[type=password] {

    background:
        linear-gradient(to top right, #5f5f5f, #908f8f) padding-box,
        linear-gradient(to bottom left, #d4d4d4, #707070) border-box;

    border-radius: .3em;
    border: 2px solid transparent;
    box-shadow: 0 0 3px #0000008a, inset 0 0 3px #0000008a;
}

input[type=text]::placeholder, input[type=password]::placeholder{
    color: #323232;
}
#player-container{
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}
#player-container>audio{
    width: 100%;
}
*{
    font-family: 'league-spartan', serif;
    box-sizing: border-box;
    /*image-rendering: pixelated;*/
    color: white;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
}
.nav-left, .nav-center, .nav-right {
    flex: 1;
    height: 100%;
}
/*.navbar>div>a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100px;
    border-radius: 0.3em;
    font-weight: 600;
    text-decoration: none;
    transition: background-color 0.1s;
    cursor: pointer;
}*/
.navbar>div>img{
    height: 100%;
    margin: auto 0;
    cursor: pointer;
    filter: drop-shadow(0 0 3px #0000008a);
}
/*.navbar div a:hover{
    color: #cbcbcb;
    background-color: #444444;
}*/
/*.navbar div .selected{
    color: #cbcbcb;
    background-color: #444444;
}*/
.nav-center {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.nav-right {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    position: relative;
}
body{
    padding: 30px;
    margin: auto;

    background-color: white;

    display: flex;
    flex-direction: column;
    gap: 30px;

    max-width: 1024px;

}

body::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('../static/images/dither.png');
    opacity: 0.1;
    mix-blend-mode: multiply;
    pointer-events: none;
    background-size: 8px auto;
    z-index: -100;
    image-rendering: pixelated;
}
.container{
    /*margin-top: 40px;*/
}
.library-content{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 30px;
}
.library-sub-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.libraries-list{

}
.libraries-list ul li a{
    color: #aaaaaa;
    text-decoration: none;
    font-size: 2em;
    font-weight: 500;
}
.libraries-list ul li .selected{
    color: #3d3d3d;
}
.libraries-list ul li a:hover{
    color: #3d3d3d;
    cursor: pointer;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.user-profile-container{
    display: flex;
    gap: 30px;
}
.user-info-container{
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 150px;
    /*justify-content: center;*/
    /*align-items: center;*/
    /*overflow: hidden;*/
}
.image-profile{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    filter: drop-shadow(0 0 3px #0000008a);
}
.image-profile-compact{
    height: 100%;
    border-radius: 100%;
    filter: drop-shadow(0 0 3px #0000008a);
    aspect-ratio: 1;
}
.user-profile-user-name{
    font-size: 2em;
}
form{
    display: flex;
    gap: 10px;
}
.user-tracks-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    border-radius: 0.3em;
    /*overflow: hidden;*/
    /*gap: 10px;*/
}
.user-profile-filter-bar div{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.user-info-container ul li a{
    color: #aaaaaa;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 500;
}
.user-info-container ul li .selected{
    color: #3d3d3d;
}
.user-info-container ul li a:hover{
    color: #3d3d3d;
}
.user-profile-filter-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 30px;
}
.track-container-right>div>button{
    height: 20px;
    padding: 0;
    aspect-ratio: 1;
    margin-bottom: 3px;
}
.track-container-right>div>button>img{
    margin: 3px;
}
.overlay-menu{
    display: flex;
    top: 25px;
    position: absolute;
    right: 0;
    border-style: none;
    border-radius: 0.3em;
    flex-direction: column;
    background-color: #dddddd;
    background-image: linear-gradient(to top right, #2e2e2e, #575757);
    width: 300px;
    padding: 20px;
    gap: 10px;
    filter: drop-shadow(0 0 3px #0000008a);
    z-index: 1;
    transition: 0.4s;
}
.overlay-menu-visible{
    opacity: 1;
    pointer-events: all;
}
.overlay-menu-hidden{
    opacity: 0;
    pointer-events: none;
}
.track-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    border-radius: 0.3em;
    /*overflow: hidden;*/
    background-color: #efefef;
    background-image: linear-gradient(to top right, #2e2e2e, #575757);
    transition: 0.4s;
    box-shadow: 0 0 3px #0000008a;
}
.track-container-expanded-controls{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.track-container-expanded-controls>div{
    width: 100%;
}
.track-container-expanded-controls>button{
    height: 100px;
    padding: 20px 20px 20px 20px;
}
.track-container-expanded-cover-image{
    height: 300px;
    width: 300px;
}
.track-container-expanded{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.track-container-expanded-main{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 350px;
    border-radius: 0.3em;
    background-color: #efefef;
    background-image: linear-gradient(to top right, #2e2e2e, #575757);
    transition: 0.4s;
    box-shadow: 0 0 3px #0000008a;
    padding: 25px;
    gap: 25px;
}
.track-container-expanded-comments{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.track-container-hidden{
    max-height: 0;
    opacity: 0;
}
.track-container-visible{
    max-height: 60px;
    opacity: 1;
    margin-top: 10px;
}
/*.track-container-left>div>a:first-child{
    color: black;
    font-size: 1.3em;
}*/
.menu-box-user{
    position: absolute;
    flex-direction: column;
    top: 40px;
    background-color: #dddddd;
    background-image: linear-gradient(to top right, #2e2e2e, #575757);
    width: 300px;
    border-radius: 0.3em;
    padding: 20px;
    gap: 10px;
    filter: drop-shadow(0 0 3px #0000008a);
    z-index: 2;
}

.track-container-left>a, .track-container-left>div>a:last-child{
    color: #878787;
    font-size: 1em;
}
.contributors-text>a{
    color: #878787;
    font-size: 15px;
    cursor: pointer;
}
.track-title{
    color: #e6e6e6;
    font-size: 1.3em;
}
.track-cover-image{
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 0.3em;

}
.track-play-button{
    border-radius: 100%;
    aspect-ratio: 1;
    margin: 10px;
    padding: 10px;
    background-image: linear-gradient(to bottom left, #d4d4d4, #707070);
}
.track-play-button>img{
    width: 100%;
    height: 100%;
}
.track-container>div{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}
.track-container-left{
    display: flex;
    flex-direction: column;
}
.track-container-right{
    display: flex;
    flex-direction: column;
    justify-content: right;
}
.track-container-right>div{
    justify-content: right;
    display: flex;
    gap: 5px;
}
.track-container-right>a{
    color: #878787;
    font-size: 15px;
}

.comment>div>a[href]{
    color: #878787;
    font-size: 15px;
    cursor: pointer;
}

@media (max-width: 600px) {
    form{
        flex-direction: column;
    }
    .track-container-left>a, .track-container-left>div>a:last-child{
        font-size: 12px;
    }
    .track-title{
        font-size: 16px;
    }
    .contributors-text>a{
        font-size: 12px;
    }
    .track-container-right>a{
        font-size: 12px;
    }
    .track-container-left>div:nth-child(1){
        flex-direction: column;
        display: flex;
    }
    .navbar{
        flex-direction: column;
        gap: 10px;
        height: max-content;
    }
    .navbar>div>img{
        width: 100%;
    }
    .nav-right{
        height: 50px;
    }
    .nav-right>button{
        width: 40px;
        height: 40px;
    }
    .nav-right>button>image{
        width: 40px;
        height: 40px;
    }
    .track-container-expanded-main{
        flex-direction: column;
        height: fit-content;
        align-items: center;
    }
    .track-cover-image{
        height: auto;
    }
    .track-container-expanded-cover-image>.track-cover-image{
        width: 100%;
        height: auto;
    }
    .track-container-expanded-cover-image{
        width: 100%;
        height: auto;
        aspect-ratio: 1;
    }
    .track-container-expanded-controls>button{
        padding: 8px;
        height: 30px;
        width: 30px;
    }
    .track-container-expanded-controls>button>img{
        height: 15px;
        width: 15px;
        margin: 0;
    }
    .track-container-right{
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .overlay-menu{
        width: 200px;
    }
    .user-profile-container{
        flex-direction: column;
    }
    .user-info-container{
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    .user-profile-filter-bar{
        height: auto;
    }
    .user-profile-filter-bar>div{
        flex-direction: column;
        width: 100%;
    }
    .user-profile-filter-bar>div>button{
        width: 100%;
    }
    .user-profile-filter-bar>div>input>{
        width: 100%;
    }
    .menu-box-user{
              width: auto;
    }
    button{
        font-size: 10px;
    }
    .nav-right>button{
        font-size: 20px;
    }
    .library-content{
        flex-direction: column;
    }
}
