{% block content %}
{% if not user %}<script>window.location.href = "/error/usernotfound"</script>{% endif %}
{% set current_user = get_current_user(request) %}
<div class="user-profile-container">
    <div class="user-info-container">
        {% if user['ProfilePicturePath'] is none %}
        <img src="../static/images/default_profile_picture.png" class="image-profile" alt="Profile Picture">
        {% else %}
        <img src="../media/profile_pictures/{{ user['ProfilePicturePath'] }}" class="image-profile" alt="Profile Picture">
        {% endif %}
        <a class="user-profile-user-name">{{ user['Username'] }}</a>
        <ul>
            <li><a class="user-profile-user-tracks selected" href="/user/{{ user['ID'] }}/tracks">Tracks</a></li>
        </ul>
    </div>
    <div class="user-tracks-container">
        usersettings todo: functionality
        <form action="/usersettings" method="POST" enctype="multipart/form-data" style="display: flex; flex-direction: column;">
            <input type="file" name="profile_picture" accept=".jpg,.jpeg,.png">
            <input type="text" name="username" placeholder="Username">
            <input type="text" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Save changes">
        </form>
    </div>
</div>
{% endblock %}