<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="utf-8" />
  <title>Aplikace</title>
  <link rel="stylesheet" href="../static/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="nav-left">
                <img src="../static/images/headerlogo.png">
            </div>

            <div class="nav-center">
                <a href="/library">LIBRARY</a>
                <a href="/discover">DISCOVER</a>
            </div>

            <div class="nav-right">
                <img src="../static/images/search.svg">
                <img src="../static/images/user.svg">
            </div>
        </nav>
    </header>
    <main class="container">
        <div class="user-profile-container">
            <div class="user-info-container">
                <img src="../static/images/default_profile_picture.png" class="image-profile" alt="Profile Picture">
                <a class="user-profile-user-name">username</a>
                <button class="user-profile-user-settings">Profile settings</button>
                <ul>
                    <li><a class="user-profile-user-tracks selected">Tracks</a></li>
                </ul>
            </div>
            <div class="user-tracks-container">
                <div class="user-profile-filter-bar">
                    <div>
                        <button>Sort</button>
                        <button>Tags</button>
                    </div>
                    <button>Upload</button>
                </div>
                <!--
                <div class="track-container">
                    <img class="track-cover-image" src="../static/images/default_track_cover.png" class="image-track" alt="Track cover">
                    <button class="track-play-button"></button>
                    <div>
                        <div class="track-container-left">
                            <div>
                                <a>Track name</a>
                                <a>● Single ● 2:23</a>
                            </div>
                            <a>Artist ● Collaborator ● Vocalist</a>
                        </div>
                        <div class="track-container-right">
                            <div>
                                <button></button>
                                <button></button>
                            </div>
                            <a>10 Months ago</a>
                        </div>
                    </div>
                </div>
                <div class="track-container">
                    <img class="track-cover-image" src="../static/images/default_track_cover.png" class="image-track" alt="Track cover">
                    <button class="track-play-button"></button>
                    <div>
                        <div class="track-container-left">
                            <div>
                                <a>Track name</a>
                                <a>● Single ● 2:23</a>
                            </div>
                            <a>Artist ● Collaborator ● Vocalist</a>
                        </div>
                        <div class="track-container-right">
                            <div>
                                <button></button>
                                <button></button>
                            </div>
                            <a>10 Months ago</a>
                        </div>
                    </div>
                </div>
                <div class="track-container">
                    <img class="track-cover-image" src="../static/images/default_track_cover.png" class="image-track" alt="Track cover">
                    <button class="track-play-button"></button>
                    <div>
                        <div class="track-container-left">
                            <div>
                                <a>Track name</a>
                                <a>● Single ● 2:23</a>
                            </div>
                            <a>Artist ● Collaborator ● Vocalist</a>
                        </div>
                        <div class="track-container-right">
                            <div>
                                <button></button>
                                <button></button>
                            </div>
                            <a>10 Months ago</a>
                        </div>
                    </div>
                </div>
                <div class="track-container">
                    <img class="track-cover-image" src="../static/images/default_track_cover.png" class="image-track" alt="Track cover">
                    <button class="track-play-button"></button>
                    <div>
                        <div class="track-container-left">
                            <div>
                                <a>Track name</a>
                                <a>● Single ● 2:23</a>
                            </div>
                            <a>Artist ● Collaborator ● Vocalist</a>
                        </div>
                        <div class="track-container-right">
                            <div>
                                <button></button>
                                <button></button>
                            </div>
                            <a>10 Months ago</a>
                        </div>
                    </div>
                </div>

                <div>
                    <div>Album name</div>
                    <div class="track-container">
                    <img class="track-cover-image" src="../static/images/default_track_cover.png" class="image-track" alt="Track cover">
                    <button class="track-play-button"></button>
                    <div>
                        <div class="track-container-left">
                            <div>
                                <a>Track name</a>
                                <a>● Single ● 2:23</a>
                            </div>
                            <a>Artist ● Collaborator ● Vocalist</a>
                        </div>
                        <div class="track-container-right">
                            <div>
                                <button></button>
                                <button></button>
                            </div>
                            <a>10 Months ago</a>
                        </div>
                    </div>
                </div>
                    <div class="track-container">
                    <img class="track-cover-image" src="../static/images/default_track_cover.png" class="image-track" alt="Track cover">
                    <button class="track-play-button"></button>
                    <div>
                        <div class="track-container-left">
                            <div>
                                <a>Track name</a>
                                <a>● Single ● 2:23</a>
                            </div>
                            <a>Artist ● Collaborator ● Vocalist</a>
                        </div>
                        <div class="track-container-right">
                            <div>
                                <button></button>
                                <button></button>
                            </div>
                            <a>10 Months ago</a>
                        </div>
                    </div>
                </div>
                    <div class="track-container">
                    <img class="track-cover-image" src="../static/images/default_track_cover.png" class="image-track" alt="Track cover">
                    <button class="track-play-button"></button>
                    <div>
                        <div class="track-container-left">
                            <div>
                                <a>Track name</a>
                                <a>● Single ● 2:23</a>
                            </div>
                            <a>Artist ● Collaborator ● Vocalist</a>
                        </div>
                        <div class="track-container-right">
                            <div>
                                <button></button>
                                <button></button>
                            </div>
                            <a>10 Months ago</a>
                        </div>
                    </div>
                </div>
                </div>
                -->

            </div>
        </div>
    </main>
</body>
</html>