{% import "components/track_container.jinja" as track_container %}
{% block content %}
{% set current_user = get_current_user(request) %}

{% if not user %}<script>window.location.href = "/error/usernotfound"</script>{% endif %}

{% if user["UserRole"] == role_listener %}
    {% if current_user.id == user["ID"] %}
        <a>You don't have an artist profile.</a><br>
        <button onclick="changeProfileToArtist()">Change to an artist profile</button>
    {% else %}
        <a>This user doesn't have an artist profile.</a>
    {% endif %}
{% endif %}

{% if user["UserRole"] == role_artist %}
<div class="user-profile-container">
    <div class="user-info-container">
        {% set profile_image_src = "../static/images/default_profile_picture.png" if user['ProfilePicturePath'] is none else ("../media/profile_pictures/" ~ user['ProfilePicturePath']) %}
        <img src="{{ profile_image_src }}" class="image-profile" alt="Profile Picture">
        <a class="user-profile-user-name">{{ user['Username'] }}</a>
        <ul>
            <li><a class="user-profile-user-tracks selected" href="/user/{{ user['ID'] }}/tracks">Tracks</a></li>
        </ul>
    </div>
    {{ track_container.generate(request, tracks, current_user) }}
</div>
{% endif %}

{% endblock %}